extend layout

block content
   .highlight
      .image-border
         .image-container
            img.highlight-image(src="/images/404@2x.jpg")
         .caption Looks like this photo no longer exists!